

body{
  background-color: white;;
  margin-bottom: -400px;
}

main{
  background-color: rgb(23, 23, 23);
  margin-left: 200px;
  width: 1480px;
  margin-bottom: 10px;
}

header{
  margin-top:-16px;
  margin-left: -10px;
  margin-right: -8px;
  height: 100px;
  width: auto;
  background-color: rgb(23, 23, 23);
}

h1{
  color: white;
  font-size: 80px;
  text-align: center;
  position: relative;
  top: 20px;


}

h2{
  color: white;
  font-size: 70px;
  text-align: center;
  letter-spacing:6px;

  position: relative;
  top: -10px;
}

#myVideo{
  position:relative;
  top: -565px;
  margin-left: -8px;
  margin-top: -150px;
  z-index: -1;
}


header nav{
text-align: center;
position: relative;
top: 10px;
}

header nav ul{
}

header nav ul li{
    margin-top: 30px;
  display: inline-block;
  margin-left: 20px;
  font-size: 30px;
  color: white;
}

header nav ul li a{
  text-decoration: none;
  color: white;
}

header nav ul li a:hover{
  background-color: lightblue;
}

.whiteSpace{
  width: 1915px;
  height:50px;
  background-color: white;
  position: absolute;
  top: 949px;
  margin-left: -20px;
}
h3{
  color: black;
  font-size: 45px;
  position: absolute;
  top:900px;
  left: 830px;
}


main nav{
  position: absolute;
  top: 987px;



 }
main nav ul{
  display: inline-grid;

}
main nav ul li{
  list-style: none;
  margin-left: -43px;

}

main nav ul li img{
  text-decoration: none;
  position: relative;
  width: 473px;
  height: auto;
    margin-bottom: -282px;
    z-index: 9999;
    overflow: hidden;
}

main nav ul li img:hover{
  position: relative;
  -webkit-filter: blur(8px) opacity(50%);
  overflow: hidden;
}

h4{
  position: relative;
  font-size: 50px;
  top: -150px;
  left: 40px;
  color: white;
  z-index: 500
  margin-bottom:-60px;
  margin-right: 37px;
}
p{
  position: relative;
  font-size: 30px;
  top: -200px;
  left: 340px;
  color: white;
  z-index: 500;
  margin-bottom: 10px;
  margin-right: 150px;
}
img{
  margin-bottom: -300px;
}

h6{
  margin-bottom: -50px;
  color: white;
  font-size: 25px;
  margin-left: 800px;
  margin-top: 20px;
  position: absolute;
  top: 20px;
  left: 120px;

}
footer{
  background-color: rgb(23,23,23);
  margin-left: -97px;
  height: 100px;
  width: 1992px;
  position: absolute;
  top: 849px;
}
