

body{
  background-color: rgb(23, 23, 23);
  margin-bottom: -400px;
}

main{

}

header{
  margin-top:-16px;
  margin-left: -10px;
  margin-right: -8px;
  height: 100px;
  width: auto;
}

h1{
  color: white;
  font-size: 150px;
  text-align: center;
  position: relative;
  top: 40px;


}

h2{
  color: white;
  font-size: 70px;
  text-align: center;
  letter-spacing:6px;

  position: relative;
  top: -90px;
}

#myVideo{
  position:absolute;
  top: 39px;
  margin-left: -10px;
  margin-top: -150px;
  z-index: -1;
  width: 1902px;
}


header nav{
text-align: center;
position: relative;
top: 10px;
}

header nav ul{
}

header nav ul li{
    margin-top: 30px;
  display: inline-block;
  margin-left: 20px;
  font-size: 30px;
  color: white;
}

header nav ul li a{
  text-decoration: none;
  color: white;
}

header nav ul li a:hover{
  background-color: lightblue;
}

.whiteSpace{
  width: 1915px;
  height:80px;
  background-color: rgb(23, 23, 23);
  position: absolute;
  top: 946px;
  margin-left: -20px;
}
h3{
  color: white;
  font-size: 45px;
  position: absolute;
  top:900px;
  left: 773px;
  z-index: 99;
}


main nav{
  position: absolute;
  top: 987px;



 }
main nav ul{
  display: inline-grid;

}
main nav ul li{
  list-style: none;
  margin-left: -43px;

}
main nav ul li a{
  text-decoration: none;

}

main nav ul li img{
  text-decoration: none;
  position: relative;
  width: 473px;
  height: auto;
    margin-bottom: -282px;
    z-index: 9999;
    overflow: hidden;
}

main nav ul li img:hover{
  position: relative;
  -webkit-filter: blur(8px) opacity(50%);
  overflow: hidden;
}

h4{
  position: relative;
  font-size: 50px;
  top: -150px;
  left: 30px;
  color: white;
  z-index: 500
  margin-bottom:-60px;
  margin-right: 37px;
}
p{
  position: relative;
  font-size: 30px;
  top: -170px;
  left: 40px;
  color: white;
  z-index: 500;
  margin-bottom: -170px;
  margin-right: 50px;
}
h6{
  margin-bottom: -50px;
  color: white;
  font-size: 25px;
  margin-left: 800px;
  margin-top: 20px;
  position: absolute;
  top: 940px;
  left: 90px;
  z-index: 99;

}
footer{
  background-color: rgb(23, 23, 23);
  height: 100px;
  width: 1992px;
  margin-left: -97px;
  position: relative;
  top: 335px;
}
